.DS_Store
.ipynb_checkpoints
/embedding
/log
/model
data
arxiv
.venv
train_with_prefetched_ids.json
val_with_prefetched_ids.json
/.venv/
/.vscode/
data_used_in_paper
data
.idea
__pycache__
.vscode
arsyta
arxivData.ipynb
arxiv_acm_fusion.ipynb
acm.gexf
SymTax_models
arxiv.py
acl.py
test copy.ipynb
test.ipynb
test.pkl
Tutorial_Local_Citation_Recommendation.ipynb